*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F8F4F0;
}
main{
    height: 100%;
    width: 100%;
    padding: 60px;
}

/*  Header  start */
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;

}
header h1{
    font-size: 3rem;
    font-weight: 500;
}
header .menu {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    
}
header .menu a{
    text-decoration: none;
    color: #514E4E;

}
.menu :hover{
    text-decoration: underline;
}

header .menu-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: #484644;

}
.ri-shopping-bag-line , .ri-menu-line { 
    font-size: 2.5rem; 
}

/*  Header  end */

/* Section start */
section{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
  grid-template-rows: repeat(4, 1fr) 250px;  
    grid-template-areas: 
    "div1  div2  div3 "
    "div1  div2  div3 "
    "div1  div2  div3 "
    "div1  div2  div3 "
    "div1  div2  div3 "


    ;
    

}
.div1{
  /* background-color:aqua; */
  grid-area: div1;
  

}
.ri-leaf-line{
    font-size: 3rem;
    width: fit-content;
    display: flex;
    align-items: center;
    color: #7A7B71;
    gap: 10px;
}
.ri-leaf-line p{
    font-size: 1.2rem;
    font-weight: 600;
}
.div1 h1{
    font-size: 10rem;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 0.8;
    padding-bottom: 20px;
}
.crafted{
    padding-block: 40px;
    color: #484644;
    width: 50%;
    font-size: 1.5rem;
}
.div1 h4{
    font-size: 1.5rem;
    padding-block: 10px;

}
.div1 h3{
    font-size: 1.5rem;
    padding-top: 10px;

}
.crafted2{
    font-size: 1.3rem;

}
.text-wt-cicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 50px;

}
.c1{
    height: 40px;
    width: 40px;
    background-color: #7B816A;
    border-radius: 50px;
}
.c2{
    height: 40px;
    width: 40px;
    background-color: #E4DCD3;
    border-radius: 50px;
}
.c3{
    height: 40px;
    width: 40px;
    background-color: #E0A7A6;
    border-radius: 50px;
}


.div2{
  /* background-color: pink;  */
   grid-area: div2; 
   border-radius: 60px;
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.div2 img{
    justify-self: end;
    height: 80%;
    width: 90%;
    border-radius: 30px;
    object-fit: cover;
    

}


.div3{ 
   grid-area: div3;
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-top: 40px;
   padding-left: 40%;
}
.div3 img{
    height: 160px;
    width: 140px;
    border-radius: 30px;
    border: 1px solid black;
   object-fit: cover;

}
